PORT=
APP_ENV=

MONGO_DB_NAME=
MONGO_DB_URL=

REDIS_HOST_AUTH=
REDIS_PORT_AUTH=

REDIS_HOST_CHAT=
REDIS_PORT_CHAT=

JWT_SECRET_ACCESS=
JWT_EXPIRY_ACCESS=
JWT_SECRET_REFRESH=
JWT_EXPIRY_REFRESH=
AUTO_LOGOUT=

SALT=

AMQP_SERVER_URL=