APP_PORT=
APP_ENV=
SALT=

MONGO_PORT=
MONGO_DB_NAME=
MONGO_DB_URL=

REDIS_PORT_AUTH=
REDIS_HOST_AUTH=
REDIS_PORT_AUTH=

REDIS_PORT_CHAT=
REDIS_HOST_CHAT=
REDIS_PORT_CHAT=

JWT_SECRET_ACCESS=
JWT_EXPIRY_ACCESS=in minutes
JWT_SECRET_REFRESH=
JWT_EXPIRY_REFRESH=in minutes
AUTO_LOGOUT=in minutes